@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
	padding: 0px;
	margin: 0px;
}
#git-h2 {
	font-family: "Spectral", serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0em;
	line-height: 125%;
	text-align: start;
	color: #233f42;
	text-transform: none;
	margin-bottom: 1rem;
}
#git-p {
	font-family: "Josefin Sans", cursive !important;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 163%;
	text-align: start;
	color: #233f42;
	text-transform: none;
}
.input {
	font-family: "Josefin Sans", cursive !important;
	appearance: none;
	display: inline-block;
	/* width: 100%; */
	line-height: 1.4em;
	outline: none;
	border: none;
	padding: 8px 12px;
	border-radius: 0px;
	font-size: 13px;
	background: rgb(226, 231, 232);
	color: rgb(35, 63, 66);
	box-shadow: transparent 0px 0px 0px 1px inset;
}
.submit-btn {
	background-color: #233f42;
	color: white;
	transition: 0.3s ease-in-out;
}
.submit-btn:hover {
	background-color: #15282b;
}
.video {
	object-fit: contain;
	cursor: auto;
	width: 100%;
	height: 100%;
	border-radius: 999px;
	display: block;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0);
	object-position: 50% 50%;
}

.MyEmail {
	font-family: "Josefin Sans", cursive !important;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 163%;
	text-align: start;
	color: #233f42;
	text-transform: none;
	text-transform: uppercase;
}
.emaillink {
	/* font-family: "Josefin Sans", cursive !important; */
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 163%;
	color: #233f42;
	text-transform: none;
     text-decoration: underline;
}

#browsebg {
	object-fit: cover;
	object-position: 50% 50%;
}